.Contact {
	background-color: #a4b8dc;
	background-image: url("../assets/line-texture-20X20.png");
}
.Contact .content {
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 50px;
	min-width: 320px;
	width: 95%;
	max-width: 800px;
	padding-top: 122.12%;
	line-height: 1.5;
}
.Contact .content > * {
	position: absolute;
	display: inline-block;
	background-color: #fff;
	transform: translate(10%);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.8);
}
.Contact .content h2 {
	z-index: 2;
	top: 0;
	width: 49.69%;
	height: 19.19%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
	display: flex;
	justify-content: center;
	align-items: center;
}
.Contact .content .phone {
	z-index: 0;
	top: 9.6%;
	width: 60%;
	padding-top: 60%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4),
		10px 0 10px -10px rgba(0, 0, 0, 0.8);
}
.Contact .content .address {
	z-index: 1;
	top: 39.31%;
	width: 49.69%;
	padding-top: 49.69%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
}
.Contact .content h2::before {
	content: "";
	position: absolute;
	z-index: -1;
	height: 50%;
	left: 0;
	bottom: 0;
	width: calc(40% + 30px);
	box-shadow: -10px 10px 10px -11px rgba(0, 0, 0, 0.8);
}
.Contact .content .address::before {
	content: "";
	position: absolute;
	z-index: -1;
	height: 50%;
	left: 0;
	top: 0;
	width: calc(40% + 30px);
	box-shadow: -10px -10px 10px -11px rgba(0, 0, 0, 0.8);
}
.Contact .content h2::after,
.Contact .content .phone::after,
.Contact .content .address::after {
	content: "";
	z-index: 0;
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 5px solid #002871;
}
.Contact .content > * > * {
	display: block;
	width: 100%;
	position: absolute;
	padding: 25px;
}
.Contact .content .phone > .container,
.Contact .content .address > .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	height: 100%;
	padding: 25px;
}
.Contact .content .phone > .container {
	width: 60%;
	padding-right: 0;
}
.Contact .content .container header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: auto;
}
.Contact .content .container p {
	display: inline-block;
	overflow: auto;
	margin-top: 10px;
	width: 100%;
}
.Contact .content h3 {
	display: inline-block;
	border-bottom: 2px solid red;
}
.Contact .content h2,
.Contact .content header h3 {
	font-family: "Kanit", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.Contact .content p {
	font-family: "Gotu", sans-serif;
	font-size: 0.75em;
}
.Contact .content header svg {
	margin: 0 10px;
}

@media (min-width: 800px) {
	.Contact .content {
		padding-top: 977px;
	}
}

.Contact .slide-paper-right-animate {
	animation: slidePaperRight 1.5s ease-out 1 forwards;
}
@keyframes slidePaperRight {
	from {
		left: 0;
	}
	to {
		left: 40%;
	}
}

.Contact .slide-paper-left-animate {
	animation: slidePaperLeft 1.5s ease-out 1 forwards;
}
@keyframes slidePaperLeft {
	from {
		left: 40%;
	}
	to {
		left: 0;
	}
}

.Contact svg.phone-animate {
	animation: contactPhoneVibrate 2s infinite forwards;
	animation-delay: 1.6s;
}
@keyframes contactPhoneVibrate {
	0% {
		transform: rotate(0);
	}
	10% {
		transform: rotate(-30deg);
	}
	20% {
		transform: rotate(30deg);
	}
	30% {
		transform: rotate(-15deg);
	}
	40% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(-10deg);
	}
	60% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(0);
	}
}
.Contact svg.map-marker-alt-animate {
	animation: contactMarkerOscillate 4s infinite forwards;
	animation-delay: 1.6s;
}
@keyframes contactMarkerOscillate {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: scale(1.15) translateY(-25%);
	}
	50% {
		transform: translateY(0);
	}
	75% {
		transform: scale(1.1) translateY(-12.5%);
	}
	100% {
		transform: translateY(0);
	}
}
