.NotFound {
	background-image: url("../assets/line-texture-20X20.png");
	line-height: 1.5;
}
.NotFound .content {
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 95%;
	max-width: 500px;
}
.NotFound .content header {
	width: 100%;
	padding: 10px;
	text-align: center;
}
.NotFound .content header h3 {
	display: inline-block;
	padding: 5px;
	font-family: "Kanit", monospace, sans-serif;
	color: rgb(175, 0, 0);
	text-transform: uppercase;
	letter-spacing: 2px;
}
.NotFound .content p {
	width: 100%;
	padding: 15px;
	text-align: center;
	font-family: "Merriweather Sans", sans-serif;
	font-size: 1em;
	font-style: normal;
}
